body {
  margin: 0;
  padding: 0;
  background-color: rgb(126, 15, 177);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 25vh 25vh 25vh 25vh;
}

.grid-item {
  background-color: rgb(6, 6, 90);
  color: white;
  text-align: center;
  display: grid;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  -moz-box-shadow:  0 7px 21px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 7px 21px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  -ms-transition: 0 7px 21px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  -o-transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.grid-item:hover {
  cursor: pointer;
}

.grid-item i {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  width: 100%;
}

.grid-item.selected-to-check {
  background-color: black !important;
}

.grid-item.found-pair {
  background-color: #009806!important;
  cursor: inherit;
}

.grid-item.selected-to-check:hover {
  cursor: inherit;
}