body {
  margin: 0;
  padding: 0;
  background-color: rgb(126, 15, 177);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 25vh 25vh 25vh 25vh;
}

.grid-item {
  background-color: rgb(6, 6, 90);
  color: white;
  text-align: center;
  display: grid;
  align-items: center;
}

.grid-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.grid-item i {
  font-size: 3rem;
  color: white;
}

.grid-item.selected-to-check {
  background-color: black !important;
}

.grid-item.found-pair {
  background-color: #009806!important;
  cursor: inherit;
}

.grid-item.selected-to-check:hover {
  cursor: inherit;
}